{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{{ with .Site.Params.aside.headline }}{{ . }}{{ end }}</h2>
        </div>
    </div>
    <div class="container">
		<div class="row">
			<div class="col-lg-6">
				<iframe src="http://d7et.disce.re/jsbin/jux/47" width="520" height="850" frameborder="0"></iframe>
			</div>
			<div class="col-lg-6">
				<iframe src="http://d7et.disce.re/jsbin/bun/1" width="520" height="850" frameborder="0"></iframe>
			</div>
			<div class="col-lg-6">
				<iframe src="http://d7et.disce.re/jsbin/zaq/1" width="520" height="850" frameborder="0"></iframe>
			</div>
			<div class="col-lg-6">
				<iframe src="http://d7et.disce.re/jsbin/viq/2" width="520" height="850" frameborder="0"></iframe>
			</div>
		</div>
	</div>
    <div class="container">
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6">
				<iframe src="http://d7et.disce.re/jsbin/xaq/12" width="520" height="850" frameborder="0"></iframe>
			</div>
		</div>
    </div>
</aside>
